abbr, abbr[title], abbr[data-original-title] {
    /* border-bottom: none; */
    text-decoration: none;
}

abbr.acronym {
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.1em;
}

a:hover, a:focus {
    color: #23527c;
}

a code, a kbd, a samp, a tt,
b code, b kbd, b samp, b tt,
del code, del kbd, del samp, del tt,
s code, s kbd, s samp, s tt,
strong code, strong kbd, strong samp, strong tt,
table code, table samp, table tt,
h1 code, h1 kbd, h1 samp, h1 tt,
h2 code, h2 kbd, h2 samp, h2 tt,
h3 code, h3 kbd, h3 samp, h3 tt,
h4 code, h4 kbd, h4 samp, h4 tt,
h5 code, h5 kbd, h5 samp, h5 tt,
h6 code, h6 kbd, h6 samp, h6 tt {
    background-color: inherit;
    padding: 0;
}

blockquote {
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 1em;
    padding-left: 20px;
    padding: 0px 20px;
}

blockquote footer {
    font-size: 1em;
}

blockquote footer:before {
  content: '\2013\00A0';
}

body {
    color: rgba(0, 0, 0, 0.8) !important;
    font-family: "Crimson Text", Crimson, "Minion Pro", Minion, "Linux Libertine", "Hoefler Text", Georgia, Charter, "PT Serif", "Iowan Old Style", Iowan, "Iowan Web", Cambria, Constantia, Utopia, Marion, Cochin, "Palatino Linotype", Palatino, Baskerville, serif !important;
    font-size: 120% !important;
    line-height: 1.5;
    margin-bottom: 2em;
    margin-top: 4em;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body > .container {
    max-width: 740px;
    padding: 0px 20px 0 20px;
}

code, kbd, samp, tt {
    white-space: pre-wrap;
}

code, kbd, samp, tt, pre {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    border: none;
    color: inherit;
    font-family: Consolas, "Consolas Web", Menlo, Monaco, "Liberation Mono", Courier, monospace !important;
    font-size: 0.8em !important;
    font-style: normal;
    -moz-osx-font-smoothing: auto;
}

h1, h2, h3, h4, h5, h6, b, strong, time, nav, kbd {
    font-family: "Segoe UI", Seravek, "Avenir Next", Avenir, Optima, "Optima Web", Candara, Futura, "Gill Sans", Calibri, Corbel, Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1em 0 15px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    color: rgba(0, 0, 0, 0.44);
    font-size: 1.3em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
}

h5 {
    color: rgba(0, 0, 0, 0.44);
    font-size: 1em;
    font-weight: normal;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

hr {
    border: none;
    padding: 1em 0 1em 0;
    text-align: center;
}

hr:before {
    color: rgba(0, 0, 0, 0.6);
    /* content: "***"; */
    content: "\2766"; /* fleuron: floral heart */
    letter-spacing: 0.6em;
    position: relative;
    text-align: center;
    /* top: -1em; */
    top: -0.8em;
}

html {
    font-size: initial !important;
}

img {
    max-width: 100%;
}

kbd {
    background-color: #fcfcfc;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 -1px 0 #bbb inset;
    color: #555;
    display: inline-block;
    font-size: 0.65em !important;
    line-height: 1em;
    padding: 3px 5px;
    vertical-align: middle;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

kbd .fa, kbd .glyphicon {
    color: inherit !important;
}

mark {
    cursor: pointer;
    background-color: #e8fef0; /* rgba(39, 243, 106, 0.1) */
    padding: 0.17em;
}

mark:hover {
    background-color: #7cffb1; /* rgba(97, 255, 160, 0.8) */
}

nav {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

p {
    margin: 1em 0 1em 0;
}

pre {
    padding: 1.5em;
}

pre code, pre kbd, pre samt, pre tt {
    font-size: 1em !important;
}

table, .table {
    margin: 1em auto;
    width: auto;
}

time {
    color: rgba(0, 0, 0, 0.44);
    margin-top: 0em;
    font-weight: normal;
}

.container ul {
    list-style-type: none;
}

.container ul > li:before {
    content: "\2013";
    margin-left: -1.1em;
    position: absolute;
}

.fa, .glyphicon, nav a {
    color: rgba(0, 0, 0, 0.5) !important;
}

.logo {
    color: #666;
    display: block;
    float: right;
    font-size: 5em;
    padding-right: 0.1em;
    z-index: 100;
}

.pull-quote {
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.3;
    margin: 1em 3em;
    padding: 1em;
}

.pull-quote.left, .pull-quote.right {
    padding: 0.5em;
    width: 10em;
}

.pull-quote.left {
    margin: 0.3em 1em 0.5em 0;
}

.pull-quote.right {
    margin: 0.3em 0 0.5em 1em;
}

.pull-quote p {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small-caps {
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

.navbar {
    min-height: auto;
}

@media (max-width: 767px) {
    body {
        font-size: 110% !important;
        line-height: 1.45;
    }

    .navbar-left {
        float: left;
    }

    .navbar-right {
        float: right;
    }
}
