body {
    margin-bottom: 5em;
}

header {
    padding-top: 1em;
}

.container li {
    background-color: inherit;
    padding: 0.5em 0 0.5em 0;
    transition: all 0.3s;
}

.container li:nth-child(2n) {
    background-color: #f8f8f8;
    transition: all 0.3s;
}

.container li:before {
    content: normal !important;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#kontakt {
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
    padding: 0 20px 0 20px;
    width: 100%;
    text-align: right;
}

#kontakt h2 {
    float: left;
    font-size: 1em;
    margin-top: 10px;
}

#kontakt h2 a {
    display: none;
}

#kontakt p {
    margin-top: 10px;
    margin-bottom: 0;
}
