#kontakt {
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1em 0 20px;
    width: 100%;
    text-align: right;
}

#kontakt h2 {
    float: left;
    margin-top: 0.5em;
}

#kontakt h2 a {
    display: none;
}

#kontakt p {
}