hr:before {
    content: normal;
}

hr.footnotes-sep {
    border: none;
    color: #23527c;
    font-family: "Segoe UI", Seravek, "Avenir Next", Avenir, Optima, "Optima Web", Candara, Futura, "Gill Sans", Calibri, Corbel, Helvetica, Arial, sans-serif !important;
    font-size: 1.8em;
    font-weight: bold;
    /* margin: 1.7em 0 1.3em 0; */
    margin: 0;
    text-align: left;
}

hr.footnotes-sep:before {
    color: inherit;
    content: "Notes";
    letter-spacing: 0;
    /* padding-bottom: 0.5em; */
}
