body {
    margin-top: 0;
}

code, kbd, samp, tt, pre {
    background-color: rgba(0, 128, 255, 0.08);
}

h1, h2, h3, h4, h5, h6 {
    color: #23527c;
}

header {
    background-image: url("tron.jpg");
    background-size: cover;
    color: #ffffff;
    margin: auto -50em;
    padding: 4em 50em 0.3em 50em;
}

header h1, header time, header .fa {
    color: inherit !important;
}

.p-summary {
    display: none;
}